# Note that not all variables here might be in use for your selected configuration

# Prisma

DATABASE_URL=file:./db.sqlite

# Backend urls

NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_WS_URL=ws://localhost:5000
